export EDITOR='nvim'
export SSHPASS="$(cat $HOME/.sshpass)"
export HOMEBREW_AUTO_UPDATE_SECS=604800   # Tell homebrew to autoupdate just once a week

# Terraform
export TF_PLUGIN_CACHE_DIR="$HOME/.terraform.d/plugin-cache"

# Ansible
export ANSIBLE_VAULT_PASSWORD_FILE="$HOME/.vault_pass"

# Docker
export DOCKER_HOST="unix://$HOME/.local/share/containers/podman/machine/podman.sock"
export DOCKER_BUILDKIT=0

# ripgrep.
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"
